<template name="adminTools">
	<div class='text-center admin-tools voffset4 '>
		<h2>Admin Tools</h2>
	</div>
	<div class='event-select'>
		<div class="row event-admin-buttons voffset3">
				<div class="col-md-3"></div>
				<div class="col-sm-12 col-md-3">
				    <select class="selectpicker span2 eventSelect" id="eventPicker" >
				    	<option></option>
				        {{#each HTLEvents}}
				            <option value="{{_id}}">{{eventName}}</option>
				        {{/each}}
				    </select>
				</div>
				<div class="col-sm-12 col-md-3">
				    <select class="selectpicker span2 actionSelect" id="actionPicker" >
				    	<option></option>
				    	<option disabled="true">RESET</option>
				        <option value="resetTwitter">Reset Twitter</option>
				        <option value="resetVine">Reset Vine</option>
				        <option value="resetInstagram">Reset Instagram</option>
				        <option disabled="true"></option>
				        <option value="resetAll">Reset All</option>
				        <option disabled="true">DELETE</option>
				        <option value="deleteTwitter">Delete Twitter</option>
				        <option value="deleteVine">Delete Vine</option>
				        <option value="deleteInstagram">Delete Instagram</option>
				        <option value="deleteNew">Delete New</option>
				        <option value="deleteApproved">Delete Approved</option>
				        <option value="deleteDeleted">Delete Deleted</option>
				        <option value="deleteAll">Delete All</option>
				        <option disabled="true"></option>
				        <option value="fullReset">Full Reset and Delete</option>
				    </select>
				    <a class="btn btn-success runAction" type="button" href="#">Go</a>
				</div>
			</div>
			<div class="col-md-3"></div>
	</div>
</template>

<template name="noEventModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">No Event or Action Selected</h4>
                </div>

                <div class="modal-body">
                    <p>Please select an event and an action and try again.</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="eventModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Modal example</h4>
                </div>

                <div class="modal-body">
	                <p>You are about to perform {{CurrentAction}} on event {{CurrentEvent}}.</p>
                    <p>This action is not reversable!</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-run-action" data-dismiss="modal">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</template>