<template name="postItem">
  <div class="socialPost">
    <div class="socialPost-content">
      <h3>@{{postUserName}} </h3><span> <h6> {{postDate}} </h6></span>
      	{{#if hasImageCall}}
      		<div>
  				<img src='{{postImageURL}}' class="img-responsive center-block postimage" alt="Image" />
			</div>
		{{/if}}
      	{{#if hasVideoCall}}
      		<div>
  				<video id="{{_id}}" class="video-js vjs-default-skin"
  					controls preload="auto" width="100%" height="auto"
  					poster="{{postImageURL}}"
  					data-setup='{"example_option":true}'>
 					<source src="{{postVideoURL}}" type='video/mp4' />
 					<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
				</video>
			</div>
		{{/if}}
      <p>
      	{{postText}}
      </p>
      <span>
      	{{#if $.Session.equals 'postFilter' 'new'}}<a class="btn btn-success approvePost" type="button" href="#">Approve</a>{{/if}}
      	{{#if $.Session.equals 'postFilter' 'deleted'}}<a class="btn btn-success approvePost" type="button" href="#">Approve</a>{{/if}}
      	{{#if $.Session.equals 'postFilter' 'new'}}<a class="btn btn-danger deletePost" type="button" href="#">Delete</a>{{/if}}
      	{{#if $.Session.equals 'postFilter' 'approved'}}<a class="btn btn-danger deletePost" type="button" href="#">Delete</a>{{/if}}
      </span>
    </div>
  </div>
</template>