<template name="postItem">
  <div class="socialPost">
    <div class="socialPost-content">
      <h3>@{{postUserName}} </h3><span> <h6> {{postDate}} </h6></span>
      	{{#if hasImageCall}}
      		<div>
  				<img src='{{postImageURL}}' class="img-responsive center-block thumbnail postimage" alt="Image" />
			</div>
		{{/if}}
      	{{#if hasVideoCall}}
      		<div>
  				VIDEO
			</div>
		{{/if}}
      <p>
      	{{postText}}
      </p>
      <span>
      	{{#if $.Session.equals 'postFilter' 'new'}}<a class="btn btn-success approvePost" type="button" href="#">Approve</a>{{/if}}
      	{{#if $.Session.equals 'postFilter' 'deleted'}}<a class="btn btn-success approvePost" type="button" href="#">Approve</a>{{/if}}
      	{{#if $.Session.equals 'postFilter' 'new'}}<a class="btn btn-danger deletePost" type="button" href="#">Delete</a>{{/if}}
      	{{#if $.Session.equals 'postFilter' 'approved'}}<a class="btn btn-danger deletePost" type="button" href="#">Delete</a>{{/if}}
      </span>
    </div>
  </div>
</template>