<template name="profile">
{{#contentFor "headerTitle"}}
    <h1 class="title">Hashtag Live</h1>
  {{/contentFor}}
  {{#if Template.subscriptionsReady}}
    {{#ionView}}
      {{#ionContent}}
        {{#ionList}}
        	<div></div>
        	<div class='text-center logout-button voffset2'>
				<a class="btn btn-success logout" type="button" href="#">logout</a>
			</div>
        {{/ionList}}
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> spinner}}
    Loading . . .
  {{/if}}
</template>