<template name="header">
  <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
          <a class="navbar-brand" href="{{pathFor 'socialPostsList'}}">HTL</a>
          {{#if currentUser}}
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          {{/if}}
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {{#if currentUser}}
              <li class="{{#if $.Session.equals 'filter' 'new'}} active{{/if}} newPosts"><a href="#">New</a></li>
              <li class="{{#if $.Session.equals 'filter' 'approved'}} active{{/if}} approvedPosts"><a href="#">Approved</a></li>
              <li class="{{#if $.Session.equals 'filter' 'deleted'}} active{{/if}} deletedPosts"><a href="#">Deleted</a></li>
            {{/if}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{#if isInRole 'admin'}}
              <li class="admin"><a href="/admin">Admin Console</a></li>
            {{/if}}
            {{#if currentUser}}
              {{> loginButtons}}
            {{/if}}
          </ul>
      </div>
  </div>
</template>